/*
Homepage
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*body  {
  background-color: #A1C7E7; 
  color: blue; 
  font-family: "Georgia", serif; 
  border: 5px black;
}*/
a{
	border-radius: 30px;
  color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#navBar a.active {
  background-color: white;
}
#navBar li a.active {
  background-color: white;
}
.clearfix{
  clear:both;
}
.header-banner{
  padding-top:50px;
  padding-bottom:200px;
  color:whitesmoke;
  font-family: 'Bebas Neue', cursive; 
  font-weight:100;
  background-image:url("https://cdn.pixabay.com/photo/2016/08/04/14/04/space-1569133_1280.jpg");
  background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat: repeat;
  background-size: cover;
}
.sub-lead-title{
  font-weight: 50;
}
.container-width{
	width:90%;
  max-width:1100x;
  margin:0 auto;
}

.lead-title{
  font-size: 45px;
}

.sub-lead-title{
  font-size: 20px;
}

.background-image:hover {
  -webkit-filter: blur(0px);
}
.Spaceship-box:hover .background-image{
	-webkit-filter: blur(0px);
}
.Spaceship-box{
  color:whitesmoke;
  font-family: 'Bebas Neue', cursive; 
  font-weight:100;
	max-width:100%;
  margin:0 auto;
  transition-duration: 0.2s;
	background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat: repeat;
  background-size: cover;
}

.background-image{
  margin-left: 0;
	margin-right: 0;
  padding-top:50px;
  padding-bottom:300px;
  background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat: repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
	transition-duration: 0.2s;
	background-image: url("https://img.rawpixel.com/private/static/images/website/2022-05/pd44-064-ae.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=3d0105fd8ca182574bba038badcf23fb");
 
}

.content{
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, 70%);
  z-index: 2;
  width: 80%;
  padding: 20px;
}
.background-image:hover {
  -webkit-filter: blur(0px);
}
.Spaceship-box:hover .background-image{
	-webkit-filter: blur(0px);
}
.Spaceship-box{
  color:whitesmoke;
  font-family: 'Bebas Neue', cursive; 
  font-weight:100;
	max-width:100%;
  margin:0 auto;
  transition-duration: 0.2s;
	background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat: repeat;
  background-size: cover;
}

.background-image{
  margin-left: 0;
	margin-right: 0;
  padding-top:50px;
  padding-bottom:300px;
  background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat: repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
	transition-duration: 0.2s;
	background-image: url("https://img.rawpixel.com/private/static/images/website/2022-05/pd44-064-ae.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=3d0105fd8ca182574bba038badcf23fb");
 
}
.background-image-trn:hover {
  -webkit-filter: blur(0px);
}

.Training-box:hover .background-image-trn{
	-webkit-filter: blur(0px);
}

.Training-box{
  color:whitesmoke;
  font-family: 'Bebas Neue', cursive; 
  font-weight:100;
	max-width:100%;
  margin:0 auto;
  transition-duration: 0.2s;
	background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat: repeat;
  background-size: cover;
}

.background-image-trn{
   margin-left: 0;
	margin-right: 0;
  padding-top:50px;
  padding-bottom:300px;
  background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat: repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
	transition-duration: 0.2s;
  background-image: url("https://cdn.pixabay.com/photo/2016/10/10/12/54/space-1728314_1280.jpg");
}

.content-trn{
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-45%, 470%);
  z-index: 2;
  width: 80%;
  padding: 20px;
}


@media screen and (max-width: 400px) {
  .content{
  	transform: translate(-50%, 100%);;
  }
	.content-trn{
		transform: translate(-45%, 600%);;
	}
}
@media screen and (max-width: 500px) {
  .content{
  	transform: translate(-50%, 150%);;
  }
}
@media screen and (max-width: 600px) {
  .content{
  	transform: translate(-50%, 140%);;
  }
}
@media screen and (max-width: 700px) {
  .content{
  	transform: translate(-50%, 140%);;
  }
	.content-trn{
		transform: translate(-45%, 460%);;
	}
}
@media screen and (max-width: 800px) {
  .content{
  	transform: translate(-50%, 140%);;
  }
  .content-trn{
		transform: translate(-45%, 460%);;
	}
}
@media screen and (max-width: 900px) {
  .content{
  	transform: translate(-50%, 140%);;
  }
  .content-trn{
		transform: translate(-45%, 460%);;
	}
}
@media screen and (max-width: 1000px) {
  .content{
  	transform: translate(-50%, 140%);;
  }
  .content-trn{
		transform: translate(-45%, 460%);;
	}
}
@media screen and (min-width: 1100px) {
  .content-trn{
		transform: translate(-50%, 375%);;
	}
}
@media screen and (min-width: 1500px) {
  .content-trn{
		transform: translate(-45%, 400%);;
	}
}

.spc-ttl{
  font-size: 35px;
  margin-left: 20px;
}
.spc-subttl{
  font-size: 20px;
  margin-left: 20px;
}

.trn-ttl{
  font-size: 35px;
  margin-left: 20px;
}

.trn-subttl{
  font-size: 20px;
  margin-left: 20px;
}

.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

.button {
  font-family: 'Bebas Neue', cursive; 
  margin-left: 20px;
  margin-top: 10px;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: darkblue; /* Green */
  color: white;
}

.text-container{
	background-color: #686e9e;
}
.reveal{
	background-color: #686e9e
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container{
  margin: 30px;
}

section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}



.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

