@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Button{
	display:block;
	margin-left:auto;
}
body {
   margin: 0px;
}
#navBar {
  list-style-type: none;
  margin: 0px;
	margin-top: 0px;
	margin-left: 10px;
  padding: 0;
	overflow: hidden;
  background-color: rgba(255,255,255,0.3);
	z-index:1;
	position: fixed;
  top: 0;
  width: 1/3%;
	border-radius: 25px;
  font-family: 'Bebas Neue', cursive; 
}
@media screen and (max-width: 350px) {
  #navBar{
  	font-size: 15px;
  }
}
@media screen and (max-width: 300px) {
  #navBar{
  	font-size: 12px;
  }
}
@media screen and (max-width: 290px) {
  #navBar{
  	font-size: 10px;
  }
}

#navBar a {
	margin: 0px;
	display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 1000vm;
  border-radius: 15 px;
}
a {
	border-radius: 15 px;
}
.nav {
  display: inline;
	float: left;
}

.L .A {
  display: block;
  color: #686e9e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	margin-left: 0;
	border-radius: 5 px;
}

.A {
  display: block;
  padding: 8px;
	float: left;
}
.active{
	display: inline;
	float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	margin-left: 0;
}
li a:hover {
  background-color:rgba(0,0,0,0.3);
	border-radius: 15 px;
}

#navbar img {
            display: inline;
            width: 50px;
            height: 45px;
            margin: 0;
            justify-content: center;
						float: left;
        }
